<form method="post" action="/posts/create">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title">
  </div>
  <div class="mb-3">
    <label for="desc" class="form-label">Description</label>
    <input type="text" class="form-control" id="desc">
  </div>
  <a href="/posts" class="btn btn-outline-dark">Back</a>
  <button type="submit" class="btn btn-primary">Create</button>
</form>