<form method="post" action="/posts/create">
    
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp">
  
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Description</label> 
    <input type="text" class="form-control" id="description" name="description">
  </div>
        <a href="/posts" type="link" class="btn btn-outline-dark">Back</a>
        <button type="submit" class="btn btn-primary">Create</a>
</form>