<form method="post" action="/posts/create">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title" name="title">
  </div>
  
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <input type="text" class="form-control" id="description" name="description">
  </div>

  <a class="btn btn-outline-dark" href="/posts" role="button">Back</a>
  <button type="submit" class="btn btn-primary">Create</button>
</form>
