<form method="post" action="/posts/delete/:id"><div class="card" style="width: 18rem;">
  
  <div class="card-body">
    <h5 class="title">Card title</h5>
    <p class="description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="alert" >Are you sure?</div>
    <a href="/posts/create" class="btn btn-outline-dark">Back</a>
    <button type="submit" class="btn btn-danger"> Delete</button>
  </div>
</div>
</form>