<form method="post" action="/posts/edit">
<div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" name="title" class="form-control" id="title">
</div>
<div class="mb-3 form-check">
    <input type="description" name="description" class="form-control" id="description">
    <input type="text" name="description" class="form-control" id="description">

</div>
</form>