<form  method="post" action="/posts/edit/{{post.id}}">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title" name="title" value="{{post.title}}" >
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <input type="text" class="form-control" id="description" name="description"  value="{{post.description}}" >
  </div>
  <a href="/posts" type="link" class="btn btn-outline-dark">Back</a>
  <button type="submit" class="btn btn-warning">Edit</button>
</form>