<div class="px-4 py-5 my-5 text-center">
    <i class="bi bi-bootstrap mb-5" style="font-size: 4rem;"></i>
    <h1 class="display-5 fw-bold">{{ name }}'s Blog</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Hello and welcome to my Blog post app!</p>
        
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/posts" class="btn btn-primary btn-lg px-4 gap-3">Go to my blog posts</a>
        </div>
    </div>
</div>